/* CSS Reset */
/* *, html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, a:hover, button, img, i, ol, ul, li,
form,
article, aside, footer, header,
menu, nav, section, .navbar, .navbar-toggler {
	margin: 0;
	padding: 0;
  border: 0;
  line-height: 0;
  text-decoration: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  background-color: transparent;
  border: 1px solid black;
} */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header, footer {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

main {
  margin: 0;
  padding: 0;
  height: 95vh;
}

h1#header {
  margin-top: 1em;
}
